body {
  background:black;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow:hidden;
}

.setting {
  position:absolute;
  top:0px;
  right:25px;
  font-size:22px;
  color:#FFFFFF;
  cursor:pointer;
  z-index:99;
}

.container-fluid {
    margin-top:20px;
    max-width:1200px;
    position:relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    min-height:162px;
    cursor:url('../img/hand.png'), auto;
    margin:20px;
    box-shadow:0 0 7px 6px white;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.icon {
  padding:1.25rem;
  display:block;
  background:rgba(0,0,0,0.5);
  box-shadow:0 0 40px 2px orange;
  font-size:100px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity:.1;
}
  

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}