body {
  background:black;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow:hidden;
}

.setting {
  position:absolute;
  top:0px;
  right:25px;
  font-size:22px;
  color:#FFFFFF;
  cursor:pointer;
  z-index:99;
}

h1.bigWinner {
  position: absolute; 
  top:50%;
  transform:translateY(-50%);
  text-align:center;
  width:100%;
  font-family: "Eater", cursive;
  font-size: 10.5vw;
  color: green;
  -moz-animation: flicker 4s 0s infinite;
  -webkit-animation: flicker 4s 0s infinite;
  animation: flicker 4s 0s infinite;
  display:none;
  line-height:.5;
}

.bigWinner a {
  display:inline-block;
  width:fit-content;
  font-size:42px;
  font-family:sans-serif;
  background:rgba(0,0,0,0.95);
  color:blueviolet;
  padding:20px;
  box-shadow:0 0 10px 0 blueviolet;
}

.faded {opacity:0.3;}

.container-fluid {
    margin-top:20px;
    max-width:1200px;
    position:relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    min-height:165px;
    cursor:url('../img/hand.png'), auto;
    margin:20px;
    box-shadow:0 0 7px 6px orange;
    background-image:url('../img/cardback.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.flipped .icon {
  display:block;
  background:rgba(0,0,0,0.8);
  box-shadow:0 0 7px 6px blueviolet;
  cursor:not-allowed;
}

.icon {
  padding:1.25rem;
  display:block;
  background:rgba(0,0,0,0.5);
  box-shadow:0 0 40px 2px ;
  font-size:82px;
  display:none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.solved .icon {
  display:block;
  background:rgba(0,0,0,0.5);
  box-shadow:0 0 7px 6px green;
  cursor:not-allowed;
}

.card.solved {background:#222222;}

.noMatch .icon {
  box-shadow:0 0 7px 6px red;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity:.1;
}

@-moz-keyframes flicker {
  0%,
    6%,
    12% {
    text-shadow: none;
    color: #111111;
  }
  3%,
    9% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6);
    color: #fa6701;
  }
  60% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
  100% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
}
@-webkit-keyframes flicker {
  0%,
    6%,
    12% {
    text-shadow: none;
    color: #111111;
  }
  3%,
    9% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6);
    color: #fa6701;
  }
  60% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
  100% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
}
@keyframes flicker {
  0%,
    6%,
    12% {
    text-shadow: none;
    color: #111111;
  }
  3%,
    9% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6);
    color: #fa6701;
  }
  60% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
  100% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
}
  

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 



}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}